body {
  margin: 0;
  font-family: Georgia, serif;
}

/* PASSWORD PAGE */
.password-page {
  background: #f2e9dc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-box {
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
}

.password-box input {
  padding: 10px;
  width: 200px;
}

.password-box button {
  margin-top: 15px;
  padding: 10px 20px;
  cursor: pointer;
}

/* LETTER PAGE */
.letter-page {
  background: #efe3d0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.envelope {
  padding: 20px 30px;
  border: 2px solid #444;
  cursor: pointer;
  background: #fff;
}

.letter {
  max-width: 500px;
  background: #fff8ee;
  padding: 40px;
  border-radius: 10px;
  line-height: 1.8;
}

.hidden {
  display: none;
}

.sign {
  text-align: right;
  margin-top: 30px;
  font-style: italic;
}
